{% extends "template/elements/table/table.html.twig" %}

{% block table %}
    <table class="js-entity-listing table-listing js-scalable"
        {% block table_pagination_config %}
            {{ parent() }}
        {% endblock %}
        {% block table_draggable_config %}
            {{ parent() }}
        {% endblock %}

        {% if configuration.entityName %}
            data-entity-name="{{ configuration.entityName }}"
        {% endif %}
    >
        {% block table_inner %}
            {{ parent() }}
        {% endblock %}

    </table>

    {% block table_after %}
        {{ parent() }}

        <template id="entity-row">

            <tr>
                {% if configuration.showRowSelection %}
                    <td class="row-selection-column">
                        <input type="checkbox" class="toggleRow" id=[[rowSelectionId]]"/>
                        <label for="[[rowSelectionId]]"></label>
                    </td>
                {% endif %}

                {% set colIndex = 0 %}
                {% for data in configuration.tableHeaders %}
                    <td data-key="{{ data }}" data-data-type="{{ configuration.columnTypes[colIndex] }}"
                        {% if configuration.columnLinks[data] %}
                            data-href-template="{{ seo_url(configuration.columnLinks[data].route, ['{}']) }}"
                            data-href-template-parts="{{ configuration.columnLinks[data].parts|json_encode() }}"
                        {% endif %}
                    >{{ data }}</td>
                    {% set colIndex = colIndex + 1 %}
                {% endfor %}
            </tr>

        </template>
    {% endblock %}

    {% block table_pagination_container %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block table_body_inner %}{% endblock %}
